---
title: 我的笔记
date: '2010-04-20'
permalink: /notes/
layout: default
---

<div class="content mdl-color--white mdl-shadow--4dp mdl-color-text--grey-800 mdl-cell--8-col mdl-cell">
  <h2 id="newest-ref">最新发布</h2>
  {% assign notes_by_date = site.notes | sort "date" | reverse %}
  {% for post in notes_by_date limit:18 %}
    {% if forloop.first %}<ul>{% endif %}
    {% include post-list post=post %}
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
  <h2 id="last-modified-ref">最新修改</h2>
  {% assign notes_by_last = site.notes | sort "last_modified_at" | reverse %}
  {% for post in notes_by_last limit:18 %}
    {% if forloop.first %}<ul>{% endif %}
    <li class="post-list"><a href="{{ post.url }}">{{ post.title }}</a>
      <span style="float: right;">
        {{ post.last_modified_at | date_to_string }}
      </span>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
  <h2 id="todo-ref">TODO</h2>
  {% assign notes_todo = site.notes | where:"todo",true %}
  {% for post in notes_todo limit:18 %}
    {% if forloop.first %}<ul>{% endif %}
    {% include post-list post=post %}
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
