<!-- Google Prettify -->
<script src="/assets/google-code-prettify/prettify.js"></script>
<script>
 var pres = document.getElementsByTagName("pre");
 for (var i=0; i < pres.length; ++i) {
     pres[i].className = "prettyprint linenums";
 }
 // 关闭对 inline code 高亮的检测
 /* var codes = document.getElementsByTagName("code");
  * for (var i=0; i < codes.length; ++i) {
  *     if (codes[i].classList.contains('highlighter-rouge')) {
  *         codes[i].classList.add("prettyprint");
  *     }
  * }*/
 prettyPrint();
</script>
<!-- end Google Prettify -->
