---
---
@charset "UTF-8";
@import "moon";

@import "moon/fab";
@import "moon/share";


@media #{$large-and-up} {
    a.brand-logo {
        padding-left: 56px;
    }
}


$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;
$text-color-primary: #515151 !default;

@mixin selection {
    ::selection {
	      @content;
    }
    ::-moz-selection {
	      @content;
    }
}

/******************
    Ribbon 横幅图片
******************/

.ribbon {
  width: 100%;
  height: 40vh;
  background-color: $secondary-color;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.over-ribbon {
    margin-top: -32vh !important;
}

@media #{$medium-and-up} {
    .ribbon {
        background-image: url(https://unsplash.it/1500/600?random),linear-gradient(to bottom left, rgba(100,255,250,0) 0%, rgba(100,255,250,0.5) 75%, rgba(100,255,250,0.5) 100%);
        background-size: cover;
        background-attachment: fixed;
    }
}


.subtitle{
    h2{
    font-size: 2.5em;
    text-shadow: 0px 2px 5px black;
    text-align: center;
    color: white;
    margin: 2rem 0 1rem 0;
    }
    h3{
        font-size: 1em;
        text-shadow: 0px 2px 5px black;
        text-align: center;
        color: white;
        margin: 1rem 0 1rem 0;
    }
}

/*************
   正文
************/

.main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.content {
    p,ul,a,li {
        font-size: $base-font-size;
    }
    border-radius: 2px;
    @media #{$medium-and-up}{
        padding: 56px;
    }
    padding: 1em;
    margin-bottom: 80px;
  table {
      margin-bottom: 16px;
  }
  .category-title{
      text-transform: capitalize;
  }
  img {
      @extend .responsive-img;
  }
}



#scroll-top{
    display: block;
    margin: auto;
}

.category {
    @extend .waves-effect;
    @extend .white-text;
}

.category-coder {
    @extend .blue;
}
.category-life {
    @extend .red;
}
.category-otaku {
    @extend .green;
}

.tag {
    @extend .new;
    @extend .badge;
    @extend .grey;
}

.post-list {
    list-style: none;
    line-height: 2em;
}

.layout.is-small-screen .content {
  padding: 40px 28px;
}

/********************
    Footer
********************/

footer {
    a {
        font-size: 13px;
        color: color("grey", "darken-3");
    }
    .footer-nav {
        padding-top: 8px;
    }
    @media #{$large-and-up} {
        .footer-nav{
            float: right;
        }
    }
}

/**
 * Code formatting
 */
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;

code[class*="highlighter-rouge"] {
    font-size: $base-font-size;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
    padding: 1px 5px;
}
.social {
    a {
        &:hover {
            text-decoration: none;
        }
    }
    ul {
        padding: 0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    li {
        width: 24px; height: 24px;
        padding: 2px;
        margin: 0 4px;
        background-color: color("grey", "lighten-2");
    }

    .icon {
        width: 20px; height: 20px;
        vertical-align: -0.15em;
        fill: color("grey", "darken-3");
        &:hover {
            fill: $link-color;
        }
        &:hover, &:focus {
            -moz-transition: fill 0.2s linear;
            -o-transition: fill 0.2s linear;
            -webkit-transition: fill 0.2s linear;
            transition: fill 0.2s linear;
        }
    }
}

.icon {
    width: 20px; height: 20px;
    fill: color("grey", "darken-3");
}


