---
---
@charset "UTF-8";


$primary-color: #234b5d;

@import "moon";
@import "moon/fab";
@import "moon/share";

$border-color: rgba(0,0,0,.14);

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;
$text-color-primary: #515151 !default;


/***************
  HTML Styles
***************/
body {
  color: $off-black;
  line-height: 1.6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

nav {
  a {
    color: rgba(0,0,0,.87);
  }
  ul li a:hover, ul li.active {
      background-color: $primary-color;
  }
}

td, th {
  padding: 15px 10px;
}

.header {
    color: $primary-color;
  font-weight: 300;
}

header, main, footer {
  padding-left: 300px;
}

@media #{$medium-and-down} {
  header, main, footer {
    padding-left: 0;
  }
  h5 > span {
    display: block;
    margin: 0 0 15px 0;
  }

}

/********************
  Index Page Styles
********************/

// custom styled sidebar
ul.sidenav.sidenav-fixed li.logo{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 110px;

    &:hover,
    #logo-container:hover {
        background-color: transparent;
    }
}
ul.sidenav.sidenav-fixed {
  overflow: hidden;
  box-shadow: none;
  border-right: 1px solid $border-color;

  li {
      line-height: 44px;

    &.active {
        background-color: rgba(50,50,50,.06);
        // 突出当前叶子节点
        &:not(.bold){
            background-color: $primary-color;
            a {
                color: #fff;
            }
        }
    }

    a {
      font-size: 13px;
      line-height: 44px;
      height: 44px;
      padding: 0 30px;
      white-space: nowrap; // 保持 1 行
    }
  }

  ul.collapsible-accordion {
    background-color: #FFF;

    a.collapsible-header {
      padding: 0 30px;
    }

    .collapsible-body li a {
      font-weight: 400;
      padding: 0 37.5px 0 45px;
    }
  }

  // 子项缩进
  @for $i from 1 through 4 {
	    .level-h#{$i} {
          padding-left: 30px + 8px * $i;
	    }
  }

  // Only show scrollbar on hover
  &:hover {
    overflow-y: auto;
  }


  .social {
      margin-top: 8px;
      margin-bottom: 16px;
      margin-left: 20px;
      a {
          &:hover {
              text-decoration: none;
              background-color: transparent;
          }
      }
      ul {
          padding: 0;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
      }

      li {
          width: 24px; height: 24px;
          padding: 2px;
          margin: 0 4px;
      }

      .icon {
          width: 20px; height: 20px;
          vertical-align: -0.15em;
          fill: color("grey", "darken-3");
          &:hover {
              fill: $link-color;
          }
          &:hover, &:focus {
              -moz-transition: fill 0.2s linear;
              -o-transition: fill 0.2s linear;
              -webkit-transition: fill 0.2s linear;
              transition: fill 0.2s linear;
          }
      }
  }
}


#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}

@media only screen and (max-width: 992px) {
    #front-page-nav ul.sidenav {
        li {
            float: none;
            padding: 0 15px;

            &:hover { background-color: #ddd; }
            .active { background-color: transparent; }
        }
        a {
            color: #444;
        }
    }
}

/****************************
    顶部标题栏及菜单按钮
****************************/
nav.top-nav {
  height: 137px;
  box-shadow: none;
  border-bottom: 1px solid $border-color;
  background-color: transparent;

  h1.header {
    margin: 0;
    padding-top: 32px;
  }
}

.no-padding {
    margin-bottom: 45px;
}

a.sidenav-trigger.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: $primary-color-light;
  font-size: 36px;
  z-index: 2;

  &.full {
    line-height: 122px;
  }

  i {
    font-size: 32px;
  }
}

@media #{$small-and-down} {
  a.sidenav-trigger.top-nav {
      left: 0;
  }

  ul.sidenav.sidenav-fixed {
    border: 0;
  }
}

@media #{$medium-and-down} {
  nav .nav-wrapper {
    text-align: center;

    h1.header {
        font-size: 36px;
        padding-top: 36px;
    }
  }
}

@media #{$medium-and-up} {
.container {
    width: 100%;
  }
}

#nav-tab{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 49.5px;
    width: 299px;
    z-index: 1000;
    border-top: 1px solid $border-color;
}

/*************
   正文
************/

.main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.content {
    p,ul,a,li {
        font-size: $base-font-size;
    }
    border-radius: 2px;
    @media #{$medium-and-up}{
        padding: 56px;
    }
    padding: 1em;
    margin-bottom: 32px;
  table {
      margin-bottom: 16px;
  }
  .category-title{
      text-transform: capitalize;
  }
  img {
      @extend .responsive-img;
  }
}

#scroll-top{
    display: block;
    margin: auto;
}

.category {
    @extend .waves-effect;
    @extend .white-text;
}

.category-coder {
    @extend .blue;
}
.category-life {
    @extend .red;
}
.category-otaku {
    @extend .green;
}
// 避免污染 google pretty 的 tag 标签
:not(code) {
    .tag {
        @extend .new;
        @extend .badge;
        @extend .grey;
    }
}

.post-pager{
    margin-bottom: 32px;
}

.post-list {
    list-style: none;
    line-height: 2em;
}

.layout.is-small-screen .content {
  padding: 40px 28px;
}

// Tables
thead {
  color: rgba(0, 0, 0, .6);
}

// Table of contents
ul.table-of-contents {
  margin-top: 0;
  padding-top: 48px;

  a {
    &.active {
      color: rgba(0,0,0,.8);
    }
    color: rgba(0,0,0,.55);
    font-weight: 400;
    white-space: nowrap; // 保持 1 行
  }

  @for $i from 1 through 6 {
	    .header-#{$i} {
          a {
              padding-left: $i * 8px;
          }
	    }
  }
}


// Mobile page styling

.mobile-image {
 @media #{$small-and-down} {
  max-width: 100%;
 }
}

// Search
#nav-mobile li.search {
  &:hover { background-color: #fff; }

  position: absolute;
  left: 0;
  right: 0;
  top: 135px;
  margin-top: 1px;
  padding: 1px 0 0 0;
  z-index: 2;

  .search-wrapper {
    &.focused .search-results:not(:empty) {
      border-bottom: 1px solid $border-color;
    }

    color: #777;
    margin-top: -1px;
    border-top: 1px solid $border-color;
    transition: margin .25s ease;

    input#search {
      &:focus {
        outline: none;
        box-shadow: none;
      }

      color: #777;
      display: block;
      font-size: 16px;
      font-weight: 300;
      width: 100%;
      height: 62px;
      margin: 0;
      box-sizing: border-box;
      padding: 0 45px 0 30px;
      border: 0;
    }

    i.material-icons {
      position: absolute;
      top: 21px;
      right: 10px;
      cursor: pointer;
    }
  }


  .search-results {
    margin: 0;
    border-top: 1px solid $border-color;
    background-color: #fff;

    a {
      &:hover,
      &.focused {
        background-color: #eee;
        outline: none;
      }

      font-size: 12px;
      white-space: nowrap;
      display: block;
    }
  }
}

/********************
    Footer
********************/
.page-footer{
    background-color: transparent;
}

footer {
    padding-top: 1em;
    border-top: 1px solid $border-color;

    a {
        &:hover{
            color: #039be5;
        }
        font-size: 0.9em;
        color: #666;
    }
    .footer-nav {
        padding-top: 8px;
    }
    @media #{$large-and-up} {
        .footer-nav{
            float: right;
        }
    }
    .footer-copyright {
        color: #333;
        min-height: 49.5px;
        padding-top: 0.85em;
        .row {
            margin-bottom: 0;
        }
    }
}

/**
 * Code formatting
 */
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;

code[class*="highlighter-rouge"] {
    font-size: $base-font-size;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
    padding: 1px 5px;
}

.icon {
    width: 20px; height: 20px;
    fill: color("grey", "darken-3");
}


