<!DOCTYPE html>
<html lang="zh-Hant-CN" class="borderbox" >
    {% include head.html %}
    <body>
        <div class="layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
            <header class="header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
                <div class="mdl-layout__header-row">
                    <span class="site-name mdl-layout-title"><a href="{{ site.url }}" class="mdl-color-text--grey-800">{{ site.title }}</a></span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation 123 -->
                    <nav class="mdl-navigation">
                        {% for data in site.nav %}
                        <a class="mdl-navigation__link mdl-color-text--grey-800" href="{{ data.url }}">{{ data.describe }}</a>
                        {% endfor %}
                    </nav>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                            <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" id="search">
                            <label class="mdl-textfield__label" for="search">Enter your query...</label>
                        </div>
                    </div>
                </div>
            </header>
            <div class="ribbon"></div>
            <main class="main mdl-layout__content">
                <div class="container mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                    {{ content }}
                    {% include share_dialog.html %}
                </div>
                {% include footer.html %}
            </main>
        </div>
        {% include google_prettify.html %}
    </body>
</html>
