---
layout: note
---



    <article>
        {{ content }}
    </article>
    <div class="tag-container" >
        {% for tag in page.tags %}
        <a href="/tags#{{ tag }}-ref">
            <span class="tag" data-badge-caption="{{tag}}"></span>
        </a>
        {% endfor %}
    </div>

<div class="post-pager">
    {% if page.previous%}
    <a href="{{page.previous.url}}">上一篇：{{ page.previous.title }}</a>
    {% endif %}
    {% if page.next%}
    <a href="{{page.next.url}}" style="float:right;" >下一篇：{{ page.next.title }}</a>
    {% endif %}
</div>
{% include disqus.html %}

<a class="btn-floating btn-large waves-effect waves-light scale-transition fab" id="fab"><i class="material-icons">keyboard_arrow_up</i></a>


