<!DOCTYPE html>
<html lang="zh-Hant-CN" class="borderbox" >
    <head>
        <style type="text/css">
         .wechat {
             float: right;
             width: 17%;
             margin-right: 2%;
             clear: right;
         }
         .avatar {
             float: right;
             width: 12.5%;
             margin-right: 4%;
         }
        </style>
    </head>
    <body>
        <main class="main mdl-layout__content">
            <div>
                    <img class="avatar" src="/media/resume_avatar.jpg" />
                    <img class="wechat" src="/media/WechatIMG2.jpeg" />
                    {{ content }}
                </div>
          </main>
    </body>
</html>
