#tagscloud {
    margin-bottom: 1.5em;
    padding: 48px;
    text {
	      cursor: pointer;
	      &:hover{
	          opacity: .7 !important;
	      }
    }

    .progress {
        width: 50%;
        margin: auto;
    }
}
